:root {
    --bg-color: #323437;
    --text-color: #eaeaea;
    --correct-letter-color: #eaeaea;
    --missing-letter-color: #646669;
    --incorrect-letter-color: #e16666;
    --out-of-range-letter-color: #aa2222;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#words {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#typing-area {
    display: flex;
    width: 80%;
    user-select: none;
}

.word-incorrect {
    text-decoration: underline 0.1rem solid var(--incorrect-letter-color);
    text-underline-offset: 0.25rem;
}

.letter {
    font-size: 32px;
}

.letter-missing {
    color: var(--missing-letter-color);
}

.letter-correct {
    color: var(--correct-letter-color);
}

.letter-incorrect {
    color: var(--incorrect-letter-color);
}

.letter-out-of-range {
    color: var(--out-of-range-letter-color);
}

#words-input:focus ~ #caret {
    width: 3px;
    background-color: yellow;
    position: absolute;
    border-radius: 1rem;
    top: 0;
    left: 0;
    height: 2.5em;

    opacity: 0;

    transition: transform 150ms;
    animation: caret 500ms ease-in-out infinite alternate;
}

@keyframes caret-init {
    0% {opacity: 0; }
    100% { opacity: 1; }
}

@keyframes caret {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#words-input {
    all: unset;
    width: 0;
}

#restart-btn {
    padding: 0;
    color: var(--missing-letter-color);
    border: unset;
    background-color: unset;
    transition: color 150ms;

    outline-color: yellow;
}

#restart-btn:focus-within,
#restart-btn:hover {
    color: var(--text-color);
}
