:root {
    --bg-color: #323437;
    --text-color: #EAEAEA;
    --correct-letter-color: #EAEAEA;
    --missing-letter-color: #646669;
    --incorrect-letter-color: #E16666;
    --out-of-range-letter-color: #AA2222;
}

body {
    margin : 0;
    display: flex;
    background-color: var(--bg-color);
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#words {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#typing-area {
    display: flex;
    width: 80%
}

.word-incorrect {
    text-decoration: underline 0.1rem solid var(--incorrect-letter-color);
    text-underline-offset: 0.25rem;
}

.letter {
    font-size: 32px;
}

.letter-missing {
    color: var(--missing-letter-color);
}

.letter-correct {
    color: var(--correct-letter-color)
}

.letter-incorrect {
    color: var(--incorrect-letter-color)
}

.letter-out-of-range {
    color: var(--out-of-range-letter-color)
}

#caret {
    width: 4px;
    background-color: yellow;
    position: absolute;
}

#words-input {
    all: unset;
    width: 0;
}
